<div class="home">
  <app-header></app-header>

  <app-movie-slider></app-movie-slider>

  <ng-container *ngFor="let movie of allMovies">
    <div class="all-movies">
      <div class="category">
        <div class="top">
          <h3>{{ movie.category }} Movies</h3>
          <div
            class="view-all btn"
            [routerLink]="['/movie-bars', movie.category]">
            View all
          </div>
        </div>
        <div class="movies-thumbnail">
          <div class="movie" *ngFor="let movie of movie.movieList">
            <app-movie-card
              [movieDetails]="movie"
              (goToViewDetails)="gotomoviedetails($event)"
              (wishListClicked)="saveInWishListArray($event)"
            >
            </app-movie-card>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
