.home {
  height: 100vw;
  background: #2a3132;
  position: relative;
  /* display: flex;
  flex-direction: column; */

  .movie-container {
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    left: 25%;
    .photoslideshow {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      h3 { 
        position: relative;
        font-size: 2.5rem;
        color: beige;
      }
      .photos {
        display: flex;
        animation: slide 35s linear infinite;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          flex-shrink: 0;
          object-fit: cover;
        }
      }
    }
  }

  .all-movies{
    position: relative;
    top:20px;
    left: 10%;
    color: beige;
    width: 80%;

    .bollywood-movies{
        position: relative;
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .view-all{
                font-size: 1rem;
            }

            h3{
                font-size: 2.5rem;
                border-left:5px solid beige;
                padding-left: 10px;
            }
        }

        .movies-thumbnail{
            padding-top: 10px;
            display: flex;
            justify-content: space-between; 
            .cover{
                img{
                    border-radius:5px;
                }
            }
        }
    }
  }
  


}








/* Keyframes for sliding effect */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1000px);
  }
  45% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(-2000px);
  }
  75% {
    transform: translateX(-3000px);
  }
  95% {
    transform: translateX(-4000px);
  }
  100% {
    transform: translateX(-5000px);
  }
}
