.header-container {
    width: 100%;
    height: 80px;
    background-color: #423836;
    color: beige;
    display: flex;
    align-items: center;
    position: sticky; /* Makes the header sticky */
    top: 0; /* Keeps the header at the top of the viewport */
    z-index: 1000; /* Ensures the header stays on top of other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow for visual separation */
  
    .logo {
      font-size: 3.5rem;
      letter-spacing: 1px;
      margin-left: 40px;
      cursor: pointer;
    }
  
    .navbar {
      left: 1150px;
      font-size: 1.3rem;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      margin: 15px;
      /* overflow: hidden; */
    }
  
    .navbar:hover {
      color: #FB6542;
    }
  }
  