<div class="header-container">

    <div class="logo" (click)="gotohome()">Real Ranks</div>
    <div class="home navbar" (click)="gotohome()">Home</div>
    <div class="wishlist navbar" (click)="gotoWishList()">Wishlist</div>
    <div class="profile navbar">My Profile</div>
    <div class="logout navbar" (click)="gotologin()">Logout</div>


    <!-- <div class="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div> -->
</div>