<div class="about-us">
  <h2>About Us</h2>
  <p>
    Welcome to Real Ranks! I’m thrilled to share what makes this platform
    special and why I believe it’s the perfect place for movie lovers like you
    and me. Real Ranks was born out of my passion for movies and my belief that
    every film deserves more than just a number—it deserves a real conversation,
    a meaningful critique, and a chance to connect with others who share our
    love for cinema. <br />

    When I created Real Ranks, my vision was clear: I wanted to build a space
    where movie lovers could go beyond surface-level ratings. I wanted a place
    where we could dive into what makes each film unique, memorable, or
    impactful. Here, you’ll find more than just scores—you’ll find a community
    that values personal perspectives and thoughtful reviews. Real Ranks is all
    about giving you a voice to share what truly resonates with you in a film,
    and to discover new movies through the lens of others' experiences.

    <br />
    I know that traditional ratings don’t always capture the magic of cinema, so
    I set out to create a platform that puts meaningful interactions at its
    core. Real Ranks is designed to be intuitive and user-friendly, encouraging
    you to explore different genres, find hidden gems, and engage in
    conversations that go beyond a simple thumbs-up or thumbs-down.

    <br />

    Thank you for being a part of this journey. Let’s rank, review, and
    experience the world of cinema together at Real Ranks – where every review
    matters and every rank tells a story. <br />
  </p>

  <p class="author"><span>-Viresh Navtake</span></p>

  <button class="btn btn-light" (click)="backtologin()">Back to Login</button>

  <img src="assets/aboutus_char.png" alt="">
</div>
