<div class="movie-container">
  <div class="photoslideshow">
    <h4 class="title">Upcoming Releases</h4>
    <div class="photos">
      <!-- Original Set of Images -->
      <img src="assets/slideshow/1_Bhool Bhulaiyaa3.jpeg" alt="" />
      <img src="assets/slideshow/2_Singhamagain.jpeg" alt="" />
      <img src="assets/slideshow/3_Vettaiyan.jpeg" alt="" />
      <img src="assets/slideshow/4_VickyVidyaKaWohWalaVideo.jpeg" alt="" />
      <img src="assets/slideshow/5_Yudhra.jpeg" alt="" />

      <!-- Duplicate Set of Images for Seamless Looping -->
      <img src="assets/slideshow/1_Bhool Bhulaiyaa3.jpeg" alt="" />
      <img src="assets/slideshow/2_Singhamagain.jpeg" alt="" />
      <img src="assets/slideshow/3_Vettaiyan.jpeg" alt="" />
      <img src="assets/slideshow/4_VickyVidyaKaWohWalaVideo.jpeg" alt="" />
      <img src="assets/slideshow/5_Yudhra.jpeg" alt="" />
    </div>
  </div>
</div>
