.movie-bars {
  background: #191c1d;
  height: 100%;

  .all-movies {
    position: relative;
    top: 20px;
    left: 10%;
    color: beige;
    width: 80%;
    display: flex;
    flex-direction: column;

    .category {
      position: relative;

      .top {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 2.5rem;
          border-left: 5px solid beige;
          padding-left: 10px;
        }
      }

      .movies-thumbnail {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2rem;
        margin-bottom: 2rem;

        .movie {
          position: relative;
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}
