<div class="movie-bars">
  <app-header></app-header>

  <div class="all-movies">
    <div class="category">
      <div class="top">
        <h3>{{ category }} Movies</h3>
      </div>
      <div class="movies-thumbnail">
        <div class="movie" *ngFor="let movie of movielist">
          <app-movie-card
            [movieDetails]="movie"
            (goToViewDetails)="gotomoviedetails($event)"
            (wishListClicked)="wishlistmanage($event)"
          ></app-movie-card>
        </div>
      </div>
    </div>
  </div>
</div>
